.wrapper{
    margin: 0 auto;
    width: 966px;
}
.header-menu{
    width: 100%;
    height: 40px;
    background: linear-gradient(to top, #444343, #5e5e5e);
}
.header-menu li{
    color: white;
    display: inline-block;
    padding: 12px 24px;
    margin-right: 20px;
}
.header-menu li:hover{
    background: #484848;

}
h1{
    font-size: 55px;
    margin: 40px 0;
}
.sidebar{
    float: left;
    width: 300px;
    padding-top: 60px;
}
.sidebar li:first-child{
    border-top: 1px solid;
}
.sidebar li{
    border-left: 1px solid;
    padding: 15px 25px;
}
.sidebar li:hover{
    padding-left: 35px;
    font-weight: bold;
}
img{
    padding: 40px;
    border-top: 1px solid;
    border-left: 1px solid;
    margin-top: 60px;
    margin-left: 84px;
}
.content{
    display: inline-block;
    width: 660px;
}
.content p{
    text-align: justify;
    margin-left: 114px;
    margin-right: 35px;
    margin-top: 40px;
}
.footer-menu{
    margin-top: 50px;
    background: #e1e1e1;
}
.footer-menu li{
    color: #282828;
}
.footer-menu li:hover{
    text-decoration: underline;
    background: #e1e1e1;
}